@import url(/style/style.css);

.conteudo {
    max-width: max-content; /* faz ocupar o máximo espaço disponível */
    margin: 0 auto;
}

.conteudo > h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.conteudo > p {
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    max-width: 70ch;
}

.conteudo > h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 42px;
}

.redeschamada {
    margin-bottom: 8px;

    display: flex;
    gap: 24px;
    align-items: center;
}

.redeschamada > img {
    width: 30px;
    /* animation: go-back 1s infinite alternate; */ /* Está ocupando muita memória da placa de vídeo */
}

.redeschamada > h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
}

@keyframes go-back {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@media(max-width: 980px) {
    .main-home {
        margin-top: 72px;
        padding: 32px 32px;
        min-height: calc(100vh - 72px);
    }

    .conteudo > h1 {
        font-size: 48px;
        margin-bottom: 8px;
    }

    .redeschamada {
        display: none;
    }
}